[Desktop Entry]
Name=Command Output
Comment=Run a command periodically and render its output.

Type=Service
Icon=utilities-terminal
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=com.github.zren.commandoutput
X-KDE-PluginInfo-Version=11
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applet-commandoutput
X-KDE-PluginInfo-Category=System Information

Name[fr]=Command Output
Name[nl]=Opdrachtuitvoer
Comment[fr]=Exécute une commande périodiquement et affiche son retour.
Comment[nl]=Voer een opdracht periodiek uit en toon de uitvoer ervan.
