[Desktop Entry]
Name=Command Output
Comment=Run a command periodically and render its output.

Type=Service
Icon=utilities-terminal
KPackageStructure=Plasma/Applet
X-Plasma-API=declarativeappletscript

X-Plasma-API-Minimum-Version=6.0

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Author=Ari Caldeira
X-KDE-PluginInfo-Email=aricaldeira@gmail.com
X-KDE-PluginInfo-Author=Oded Arbel
X-KDE-PluginInfo-Email=oded@geek.co.il
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=com.github.aricaldeira.commandoutput
X-KDE-PluginInfo-Version=13
X-KDE-PluginInfo-Website=https://github.com/aricaldeira/plasma-applet-commandoutput
X-KDE-PluginInfo-Category=System Information

Name[bz]=Saida di Komandus
Name[fr]=Command Output
Name[nl]=Opdrachtuitvoer
Name[pt_br]=Saída de Comandos
Comment[bz]=Ezekuta un komandu a kada X milisegundus, i mòstra a saida/rezuwtadu
Comment[fr]=Exécute une commande périodiquement et affiche son retour.
Comment[nl]=Voer een opdracht periodiek uit en toon de uitvoer ervan.
Comment[pt_br]=Executa um comando a cada X milissegundos, e mostra a saída/resultado
